.vibe {
    width: 100%;
    position: relative;

    &__header {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 56px;
    }

    &__main {
        padding: 120px 56px 56px 56px;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;

        @media screen and (max-width: 736px) {
            padding: 80px 32px 56px 32px;
        }

        @media screen and (max-width: 440px) {
            padding: 80px 16px 56px 16px;
        }
    }

    &__svgWrapper {
        width: fit-content;
        margin: 0 auto;
    }

    &__svg {
        @media screen and (max-width: 736px) {
            width: 220px;
            height: 160px;
        }
    }
}