.vibeSection {
    position: relative;
    display: flex;
    width: 100%;

    &_reversed {
        flex-direction: row-reverse;
    }

    &__columns {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &_reversed {
            align-items: flex-end;
        }
    }

    &__textWrapper {
        position: sticky;
        top: 33%;
        width: 420px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__text {
        text-align: end;

        &_reversed {
            text-align: start;
        }
    }
}