.popup {
    height: 96%;
    width: 96%;
    max-width: 764px;
    max-height: 526px;
    background-color: #ffff;
    border-radius: 24px;
    display: flex;
    position: relative;
    overflow: hidden;
    
    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ffffff80;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__videoWrapper {
        width: 50%;
        background-color: rgb(94, 94, 94);
        border-radius: 24px 0 0 24px;
    }

    &__textWrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 24px;
    }

    &__text {
        color: #030303;
        text-align: start !important;
        margin-top: 24px;

        @media screen and (max-width: 640px) {
            font-size: 14px !important;
            line-height: 20px;
            margin-top: 16px;
        }

        &_name {
            @media screen and (max-width: 640px) {
                font-size: 26px !important;
                line-height: 32px !important;
            }
        }

        &_type {
            text-transform: uppercase;
            margin-top: 0;
            font-weight: 500;
        }

        &_label {
            margin-right: 6px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 24px;
        fill: #030303;
    }
}