.text {
    color: #E3F4F4;
    font-family: var(--font-montserrat);
    position: relative;

    &_right {
        text-align: end;
    }

    &__title {
        color: #fff;
        text-shadow: 2px 4px 4px rgba(44, 44, 44, 0.6);
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;

        @media screen and (max-width: 1008px) {
            font-size: 44px;
            line-height: 52px;
        }

        @media screen and (max-width: 536px) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__subtitle {
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        font-family: var(--font-playfair);

        @media screen and (max-width: 1008px) {
            text-align: center !important;
        }

        @media screen and (max-width: 640px) {
            font-size: 32px;
            line-height: 40px;
        }

        @media screen and (max-width: 400px) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__normal {
        font-size: 16px;
        line-height: 22px;

        &_black {
            line-height: 26px;
            color: #030303;
            text-align: center;
        }

        // @media screen and (max-width: 1008px) {
        //     text-align: center !important;
        // }

        @media screen and (max-width: 400px) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}