.vision {
    width: 100%;
    position: relative;

    &__header {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        height: 510px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 56px;
            background: linear-gradient(to right, #030303, #03030365, #0303030b, #03030300);
            z-index: 999;
        }
    }

    &__headerImage {
        width: 70%;
        height: auto;
        position: absolute;
        left: 0;
        top: -160px;
        z-index: 1;
    }

    &__textWrapper {
        max-width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding: 24px 40px;
        z-index: 2;
        position: relative;
        background-color: #030303;
    }

    &__text {
        font-size: 18px;
        text-align: end;
    }

    &__main {
        position: relative;
        padding: 56px;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 88px;
    }
}