.pageHeader {
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 440px) {
        height: 424px;
    }

    &_home {
        justify-content: flex-end;
        background-image: url('../../../public/images/main2.jpg');
    }

    &_flowers {
        background-image: url('../../../public/images/flower.jpg');
    }

    &_vibe {
        background-image: url('../../../public/images/main.jpg');
    }

    &_vision {
        background-image: url('../../../public/images/vision-grandma.png');
        max-width: 900px;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 56px;
            background: linear-gradient(to right, #030303, #03030365, #0303030b, #03030300);
            z-index: 999;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 56px;
            background: linear-gradient(to left, #030303, #03030365, #0303030b, #03030300);
            z-index: 9;
        }
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0303032e;
        z-index: 11;
        box-shadow: inset 0 0 58px 5px #030303e8;
    }

    &__title {
        z-index: 11;
        opacity: 0;
        max-width: 30%;
        margin-left: 16%;

        &_home,
        &_vision {
            text-align: right;
            margin-left: 0;
        }

        &_home {
            margin-right: 16%;
        }

        @media screen and (max-width: 1008px) {
            max-width: 40%;
        }

        @media screen and (max-width: 400px) {
            max-width: 56%;
        }
    }
}
