.pageHeader {
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;

    @media screen and (max-width: 640px) {
        padding: 0 16px;
    }

    @media screen and (max-width: 500px) {
        height: 424px;
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0303032e;
        z-index: 11;
        box-shadow: inset 0 0 58px 5px #030303e8;
    }

    &__image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        bottom: -30%;

        @media screen and (max-width: 1200px) {
            bottom: 0;
        }

        @media screen and (max-width: 784px) {
            height: 100%;
            width: auto;
            left: 0;
        }

        @media screen and (max-width: 640px) {
            left: -20%;
        }

        @media screen and (max-width: 448px) {
            right: 0;
            left: auto;
        }
    }

    &__title {
        z-index: 11;
        opacity: 0;
        font-size: 56px;
        line-height: 64px;
        max-width: 24%;
        text-align: right !important;
        margin-right: 24%;

        @media screen and (max-width: 1200px) {
            max-width: 30%;
        }

        @media screen and (max-width: 1008px) {
            font-size: 48px;
            line-height: 56px;
        }

        @media screen and (max-width: 784px) {
            font-size: 40px;
            line-height: 48px;
            margin-right: 18%;
        }

        @media screen and (max-width: 640px) {
            font-size: 32px;
            line-height: 40px;
            margin-right: 10%;
            max-width: 36%;
        }

        @media screen and (max-width: 448px) {
            max-width: 56%;
        }
    }
}
