body {
  padding: 0;
  margin: 0;
  background-color: #030303;

  * {
    box-sizing: border-box;
    color: #E3F4F4;
    font-family: var(--font-montserrat);
  }
}

main {
  background-color: #030303;
  padding: 72.8px 0 0 0;
  min-height: 100vh;
}
