.home {
    overflow: hidden;

    &__logoWrapper {
        height: 80px;
        width: fit-content;
        opacity: 0;
    }

    &__logo {
        height: 100%;
        width: auto;
    }

    &__text {
        opacity: 0;
    }

    &__button {
        margin: 24px 0;
    }
}

.horizontalLine {
    width: 320px;
    height: 2px;
    border-radius: 2px;
    background-color: #E3F4F4;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
        width: 60%;
    }
}
