.carousel {
	margin: auto;
	overflow: hidden;
	position: relative;
    width: 100%;
    padding: 48px 0;
    max-width: 850px;

    @media screen and (max-width: 680px) {
        padding: 32px 0;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 16px;
        z-index: 999;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, #030303d1, #0303038b, #0303033e, #03030310, #03030300);
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, #030303d1, #0303038b, #0303033e, #03030310, #03030300);
    }

    &__track {
        display: flex !important;
    }

    &__image {
        height: 238px;
        width: 258px;
        margin-right: 32px;
    }
}
