.section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding: 88px 32px;

    @media screen and (max-width: 1008px) {
        flex-direction: column !important;
        align-items: center;
        gap: 32px;
        padding: 64px 32px;
    }

    @media screen and (max-width: 440px) {
        padding: 40px 16px;
    }

    &_reversed {
        flex-direction: row-reverse;
    }

    &__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        @media screen and (max-width: 1008px) {
            align-items: center !important;
            width: 80%;
            padding: 0 !important;
        }

        @media screen and (max-width: 496px) {
            width: 100%;
        }

        &_right {
            align-items: end;
            padding-right: 24px;
        }

        &_left {
            padding-left: 24px;
        }
    }

    &__title {
        opacity: 0;
    }
    
    &__text {
        max-width: 70%;
        opacity: 0;

        @media screen and (max-width: 640px) {
            max-width: none;
        }
    }

    &__button {
        margin-top: 16px;
    }
    
    &__wrapper {
        width: fit-content;
        position: relative;
        opacity: 0;

        @media screen and (max-width: 1008px) {
            padding: 0 !important;
        }

        &_right {
            padding-left: 24px;
        }

        &_left {
            padding-right: 24px;
        }
    }
    
    &__image {
        height: auto;
        width: 420px;

        @media screen and (max-width: 496px) {
            width: 100% !important;
        }

        &_intro {
            width: 368px;
        }
    }

    &__imageShadow {
        position: absolute;
        width: calc(100% - 24px);
        height: 100%;
        top: 16px;
        right: -24px;
        background-color: #e3f4f413;
        z-index: -1;

        @media screen and (max-width: 1008px) {
            display: none;
        }

        &_right {
            right: 48px;
        }
    }
}
