.refreshments {
    padding: 88px 32px;
    width: 100%;
    background-color: #000;

    @media screen and (max-width: 1240px) {
        max-width: 1200;
    }

    @media screen and (max-width: 440px) {
        padding: 56px 16px;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 56px;
    }

    &__title {
        font-size: 72px;
        line-height: 88px;
        text-align: center;

        @media screen and (max-width: 1008px) {
            font-size: 56px;
            line-height: 64px;
        }

        @media screen and (max-width: 536px) {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__headerText {
        max-width: 60%;
        text-align: center;

        @media screen and (max-width: 784px) {
            max-width: 100%;
        }
    }

    &__wrapper {
        padding: 24px 32px 40px 32px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        border-radius: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

        @media screen and (max-width: 740px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 640px) {
            flex-direction: column-reverse !important;
            align-items: center;
            gap: 16px;
        }

        &_tea {
            flex-direction: row;
        }
    }

    &__textWrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 640px) {
            width: 100%;
            gap: 8px;
        }
        
        * {
            color: #fff;
        }
    }

    &__subtitle {
        font-size: 26px;
        font-family: var(--font-montserrat);

        @media screen and (max-width: 640px) {
            text-align: center !important;
        }
    }

    &__text {
        text-align: start !important;

        @media screen and (max-width: 640px) {
            text-align: center !important;
        }
    }

    &__image {
        &_coffee {
            width: 240px;
            height: 240px;
        }

        &_tea {
            width: 320px;
            height: 320px;
        }

        &_cake {
            width: 200px;
            height: 200px;
        }
    }
}