.flowers {
    overflow: hidden;

    &__main {
        padding: 0 32px;

        @media screen and (max-width: 440px) {
            padding: 0 16px;
        }
    }

    &__description-wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 32px 0;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 1024px) {
            justify-content: center;
        }
    }

    &__description {
        text-align: end;
        width: 48%;
        font-size: 18px;
        line-height: 24px;
        font-family: var(--font-playfair);

        @media screen and (max-width: 1024px) {
            width: 80%;
            text-align: center;
        }
    }
    
    &__horizontalLine {
        width: 100%;
        max-width: 1000px;
        height: 2px;
        border-radius: 2px;
        background-color: #e3f4f44f;
        margin: 0 auto;
    }

    &__whiteSection-wrapper {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    }

    &__whiteSection-text {
        width: 50%;
        padding: 0 56px;
        font-size: 16px;
        line-height: 26px;
        color: #030303;
        text-align: center;

        @media screen and (max-width: 1008px) {
            padding: 0 24px;
        }

        @media screen and (max-width: 480px) {
            padding: 0;
        }
    }

    &__whiteSection-svg {
        width: 50%;
        display: flex;
        justify-content: center;

        & * {
            max-width: 72px;
        }
    }

    &__listSection {
        padding: 88px 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (max-width: 440px) {
            padding: 56px 16px;
        }
    }

    &__listSection-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 32px;
        row-gap: 32px;
        justify-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        @media screen and (max-width: 670px) {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    }

    &__listSection-wrapper {
        position: relative;
        width: 100%;
    }

    &__listSection-image {
        width: 100%;
        height: auto;
    }
}
