.flowers {
    overflow: hidden;

    &__main {
        padding: 0 32px;

        @media screen and (max-width: 440px) {
            padding: 0 16px;
        }
    }

    &__descriptionWrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 32px 0;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 1024px) {
            justify-content: center;
        }
    }

    &__description {
        text-align: end;
        width: 48%;
        font-size: 18px;
        line-height: 24px;
        font-family: var(--font-playfair);

        @media screen and (max-width: 1024px) {
            width: 80%;
            text-align: center;
        }
    }
    
    &__horizontalLine {
        width: 100%;
        max-width: 1000px;
        height: 2px;
        border-radius: 2px;
        background-color: #e3f4f44f;
        margin: 0 auto;
    }

    &__whiteSection {
        width: 100%;
        max-width: 1000px;
    }

    &__logo {
        width: 56px;
        opacity: 0;
    }

    &__text {
        opacity: 0;
    }

    &__listSection {
        padding: 88px 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (max-width: 440px) {
            padding: 56px 16px;
        }
    }

    &__listSection-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 32px;
        row-gap: 32px;
        justify-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        @media screen and (max-width: 670px) {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    }
}
