.questionCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 56px 0;
    opacity: 0.2;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;
    }

    &__section {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (max-width: 690px) {
            width: 70%;
            gap: 16px;
        }

        @media screen and (max-width: 400px) {
            width: 100%;
        }

        &_right {
            padding-left: 120px;

            @media screen and (max-width: 1008px) {
                padding-left: 80px;
            }

            @media screen and (max-width: 690px) {
                padding-left: 0px;
                margin-left: auto;
            }

            @media screen and (max-width: 400px) {
                margin-left: 0px;
            }
        }

        &_left {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 24px;
                width: 2px;
                height: 90%;
                background-color: #ffffffa1;
                right: -40px;
                transform: rotate(20deg);
                transform-origin: 0% 0%;
                border-radius: 2px;

                @media screen and (max-width: 1008px) {
                    right: -24px;
                }

                @media screen and (max-width: 690px) {
                    display: none;
                }
            }
        }
    }

    &__question {
        font-size: 40px;
        line-height: 48px;

        @media screen and (max-width: 1008px) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__answers {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 90%;

        @media screen and (max-width: 1008px) {
            gap: 0px;
        }

        @media screen and (max-width: 400px) {
            max-width: none;
        }
    }

    &__answer {
        font-size: 20px;
        line-height: 24px;
        padding: 8px 0px;
        display: flex;
        gap: 6px;

        @media screen and (max-width: 1008px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__icon {
        font-size: 24px;
        transition: all 0.2s ease-out;
        min-width: 25px;
    }
}